body{
  overflow: auto;
}
.start-bar, text-base {
    background-color: black;
    width: 100%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.logo-bar {
    background-color: black;
    display: inline-block;
    height: 150px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    padding: 0;
  }
  .logo-img{
    height: 90px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
  }
.nav-icon {
    white-space: nowrap;
    display:inline-block;
    margin-left: 0;
}
.nav-icons li {
  margin-left: 80px;
  display:inline-block;
}
.nav-icons li button {
  height: 50px;
  width: 130%;
  float: right;
  font-size: large;
  margin-left: 0px;
  position: relative;
  text-align: center;
  right: 30%;
  color: white;
  background-color: black;
  box-shadow: 0;
  border: 0px solid transparent;
}
.nav-icon button:hover{
  color: aqua;
}
.search-container {
  display: inline-block;
  position: relative;
  color: white;
  font-style: italic;
  padding: 86px 40px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px;
}
.main-img {
  background-color: black;
  width: 100%;
  height: 450px;
  margin-bottom: 0;
  position: relative;
  bottom: 10px;
  padding-bottom: 0%;
  display: inline-block;
}
.main-img img{
  width: 90%;
  height: 80%;
  position: absolute;
  left: 5%;
  top: 10%;
  border-radius: 8px;
}
.main-img p{
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 170px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.main-img .main-button {
  position: absolute;
  top: 250px;
  height: 15%;
  width: 12%;
  left: 145px;
  margin-left: 2%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;  
}
.main-img button:hover{
  background-color: transparent;
  text-decoration: underline;
  cursor :zoom-in;
  border: 1px solid white;
}
.card-nav{
  background-color: rgba(185, 177, 177, 0.1);
  margin-top: 0;
  padding-top: 1%;
  width: 100%;
  height: 30%;
  white-space: nowrap;
  overflow-x: hidden;
}
.card-nav .textg-stroke {
  text-shadow: none;
  font-size: 200px;
  text-transform: uppercase;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  pointer-events: none;
  -webkit-text-stroke: 1px  black;
  -moz-text-stroke: 1px black;
  -ms-text-stroke: 1px black;
  -o-text-stroke: 1px black;
  color: transparent;
}
.card-main h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
  margin-top: 20px;
  position: relative;
  left: 1%;
}
.card-main-img {
  display: inline-block;
  padding-bottom: 5%;
  position: relative;
  height: 320px;
}
.card-main-img img {
  margin-top: 20px;
  padding-left: 15px;
  border-radius: 7%;
}
.card-textsp {
  position: absolute;
  left: 82%;
  bottom: 25px;
  font-weight: bold;
  font-size: 20px;
}
.card-textlt{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  left: 60%;
  bottom: 25px;
}
.card-textpj{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  bottom: 25px;
  left: 35%;
}
.card-textsd {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  bottom: 25px;
  left: 8%;
}
.homethp1 {
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-bottom: 0;
  margin-top: 20px;
  opacity: 0.3;
  transform: translatey(0px);
  color: #000;
  background: radial-gradient(circle #0000, #0000, #0000);
  background: linear-gradient(180deg, #0000, #0000, #0000);
}
.hometh > h3 {
  margin-top: 10px;
  font-size: 45px;
  text-align: center;
}
.homethp3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}
.center-img {
  margin-top: 0;
  position: relative;
  padding-top: 2%;
  height: 500px;
}
.center-img img {
  width: 100%;
  height: 500px;
  opacity: 1;
}
.center-img p {
  position: absolute;
  top: 145px;
  left: 340px;
  font-size: 30px;
}
.center-img button {
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
  top: 200px;
  left: 550px;
  color: black;
  box-shadow: 0;
  height: 50px;
  width: 15%;
  border-radius: 50%;
  background-color: transparent;
  transition: transform 0.5s;
}
.center-img a{
  text-decoration: none;
  color: aqua;
}
.center-img button:hover {
  cursor: help;
  border-color: aqua;
  background-color: white;
  transform: scale(1.5);
}

.center-img h3 {
  position: absolute;
  top: 65px;
  text-decoration: solid;
  left: 260px;
  font-size: 60px;
}
.reviews {
  height: 550px;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  background-color: rgba(185, 177, 177, 0.1);
}
.revp {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  transform-origin: left;
  transform: translate(20px);
  height: 100px;
  margin-bottom: 0;
  margin-top: 0;
  width: 40%;
  padding-top: 80px;
  padding-bottom: 40px;
}
.reviews_box {
  display: flex;
  height: 420px;
  margin-top: 50px;
}
.reviews_box img {
  height: 80px;
  width: 80px;
}

.que {
  height: 500px;
  background-color: rgba(185, 177, 177, 0.1);
}
.quebox1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 400px;
  display: inline-block;
  width: 80%;
  background-color: white;
  position: relative;
  left: 120px;
  top: 30px;
  border-radius: 15px;
}
.p1 {
  font-size: 50px;
  transform: translate(10px, 50px);
  transform-origin: bottom center; 
  margin-left: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  width: 50%;
}
.p2 {
  font-size: 15px;
  width: 50%;
  position: relative;
  top: 80px;
  left: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p3 {
  position: relative;
  top: 130px;
  left: 50px;
  font-size: 20px;
  width: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.quebox2 {
  color: #000;
  padding-top: 23px;
  position: relative;
  left: 600px;
  bottom: 150px;
  width: 40%;
  height: 250px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 0.625rem;
}
.nsv {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 20px;
}
.cnt {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 20px;
}
.reg {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 20px;
}
.cnti{
  float: right;
  margin-right: 20px;
  background-color: lavender;
  border-radius: 50%;
}
.regi {
  float: right;
  margin-right: 20px;
  background-color: lavender;
  border-radius: 50%;
}
.nsvi {
  float: right;
  margin-right: 20px;
  background-color: lavender;
  border-radius: 50%;
}
.regi:hover {
  background-color: black;
}
.footer {
  height: 600px;
  background-color: white;
  display: flex;
}
.ftr1 {
  padding-left: 50px;
  padding-top: 50px;
  text-align: center;
}
.ftr1 li {
  list-style: none;
  margin: 30px;
}
.ftr2 {
  padding-left: 50px;
  padding-top: 50px;
  text-align: center;
}
.ftr2 li {
  list-style: none;
  margin: 30px;
}
.ftr3 {
  padding-left: 50px;
  padding-top: 50px;
  text-align: center;
}
.ftr3 li {
  list-style: none;
  margin: 30px;
}
.ftr4 {
  padding-left: 50px;
  padding-top: 50px;
  font-family: 'Courier New', Courier, monospace;
}
.ftr4_p {
  margin-top: 30px;
  font-size: 15px;
}
.ftr4-form {
  margin-top: 20px;
  padding-bottom: 50px;
  height: 200px;
  position: relative;
  text-align: start;
}
.isfloating {
  margin-top: 20px;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  border-color: black;
  opacity: 0.3;
}
.floating-label {
  position: absolute;
  left: 10px;
  top: 35px;
  transition: transform 0.2s ease-in-out;
}
.ftr4-form button {
  position: absolute;
  bottom: 135px;
  left: 380px;
  border-radius: 50%;
}
.ftr4 button:hover {
  background-color: black;
}
.ftr4 path:hover {
  stroke: aliceblue;
}
.footer_end {
  margin-top: 0;
  padding-left: 50px;
}
.social_links {
  list-style: none;
  display: flex;
  gap: 40px;
  cursor:pointer;
}
.social_links a {
  color: inherit;
}
.footer_end2 p {
  margin-top: 25px;
  margin-bottom: 40px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}