body{
  overflow: auto;
}

.start-bar, text-base {
    background-color: black;
    width: 100%;
    height: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
.logo-bar {
    background-color: black;
    display: inline-block;
    height: 130px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    position: relative;
    left: 0;
  }
  .logo-img{
    height: 90px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
.nav-icon {
    white-space: nowrap;
    display:inline-block;
    margin-left: 0;
}
.nav-icons li {
  margin-left: 60px;
  display:inline-block;
}
.nav-icons li button {
  height: 50px;
  width: 130%;
  float: right;
  font-size: large;
  margin-left: 0px;
  position: relative;
  text-align: center;
  right: 30%;
  color: white;
  background-color: black;
  box-shadow: 0;
  border: 0px solid transparent;
}
.nav-icon button:hover{
  color: aqua;
}
.search-container {
  display: inline-block;
  position: relative;
  color: white;
  font-style: italic;
  padding: 86px 40px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px;
}
.main-img {
  background-color: black;
  width: 100%;
  height: 170px;
  position: relative;
  bottom: 10px;
  padding-bottom: 28%;
  display: inline-block;
}
.main-img img{
  width: 90%;
  height: 80%;
  position: absolute;
  left: 5%;
  top: 10%;
  border-radius: 8px;
}
.main-img p{
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 170px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.main-img .main-button {
  position: absolute;
  top: 250px;
  height: 15%;
  width: 12%;
  left: 145px;
  margin-left: 2%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;  
}
.main-img button:hover{
  background-color: transparent;
  text-decoration: underline;
  cursor :zoom-in;
  border: 1px solid white;
}
.card-nav{
  background-color: white;
  width: 100%;
  height: 50%;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  gap: 10px;
}
.card-nav .textg-stroke {
  text-shadow: none;
  font-size: 200px;
  text-transform: uppercase;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border-color: blue;
}






* {
  border: 1px solid red;
}