body{
  overflow: auto;
}

.start-bar, text-base {
    background-color: black;
    width: 100%;
    height: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
.logo-bar {
    background-color: black;
    display: inline-block;
    height: 130px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    position: relative;
    left: 0;
  }
  .logo-img{
    height: 90px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
.nav-icon {
    white-space: nowrap;
    display:inline-block;
    margin-left: 0;
}
.nav-icons li {
  margin-left: 60px;
  display:inline-block;
}
.nav-icons li button {
  height: 50px;
  width: 130%;
  float: right;
  font-size: large;
  margin-left: 0px;
  position: relative;
  text-align: center;
  right: 30%;
  color: white;
  background-color: black;
  box-shadow: 0;
  border: 0px solid transparent;
}
.nav-icon button:hover{
  color: aqua;
}
.search-container {
  display: inline-block;
  position: relative;
  color: white;
  font-style: italic;
  padding: 86px 40px 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px;
}
.main-img {
  background-color: black;
  width: 100%;
  height: 170px;
  margin-bottom: 0;
  position: relative;
  bottom: 10px;
  padding-bottom: 28%;
  display: inline-block;
}
.main-img img{
  width: 90%;
  height: 80%;
  position: absolute;
  left: 5%;
  top: 10%;
  border-radius: 8px;
}
.main-img p{
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 170px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.main-img .main-button {
  position: absolute;
  top: 250px;
  height: 15%;
  width: 12%;
  left: 145px;
  margin-left: 2%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;  
}
.main-img button:hover{
  background-color: transparent;
  text-decoration: underline;
  cursor :zoom-in;
  border: 1px solid white;
}
.card-nav{
  background-color: rgba(185, 177, 177, 0.1);
  margin-top: 0;
  padding-top: 1%;
  width: 100%;
  height: 30%;
  white-space: nowrap;
  overflow-x: hidden;
  gap: 10px;
}
.card-nav .textg-stroke {
  text-shadow: none;
  font-size: 200px;
  text-transform: uppercase;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  pointer-events: none;
  -webkit-text-stroke: 1px  black;
  -moz-text-stroke: 1px black;
  -ms-text-stroke: 1px black;
  -o-text-stroke: 1px black;
  color: transparent;
}
.card-main h1 {
  font-weight: bold;
  font-size: 50px;
  width: auto;
  position: relative;
  left: 1%;
}
.card-main-img {
  display: inline-block;
  padding-bottom: 5%;
  position: relative;
  height: 320px;
}
.card-main-img img {
  padding-left: 15px;
  border-radius: 7%;
}
.card-textsp {
  position: absolute;
  left: 82%;
  bottom: 80px;
  font-weight: bold;
  font-size: 20px;
}
.card-textlt{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  left: 60%;
  bottom: 80px;
}
.card-textpj{
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  bottom: 80px;
  left: 35%;
}
.card-textsd {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  bottom: 80px;
  left: 8%;
}
.homethp1 {
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-bottom: 0;
  opacity: 0.3;
  transform: translatey(0px);
  color: #000;
  background: radial-gradient(circle #0000, #0000, #0000);
  background: linear-gradient(180deg, #0000, #0000, #0000);
}
.hometh > h3 {
  margin-top: 10px;
  font-size: 45px;
  text-align: center;
}
.homethp3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 50px;
}
.center-img {
  margin-top: 0;
  position: relative;
  padding-top: 2%;
  height: 500px;
}
.center-img img {
  width: 100%;
  height: 500px;
  opacity: 1;
}
.center-img p {
  position: absolute;
  top: 110px;
  left: 340px;
  font-size: 30px;
}
.center-img button {
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
  top: 200px;
  left: 550px;
  color: black;
  box-shadow: 0;
  height: 50px;
  width: 15%;
  border-radius: 50%;
  background-color: transparent;
  transition: transform 0.5s;
}
.center-img a{
  text-decoration: none;
  color: aqua;
}
.center-img button:hover {
  cursor: help;
  border-color: aqua;
  background-color: white;
  transform: scale(1.5);
}

.center-img h3 {
  position: absolute;
  top: 10px;
  justify-content: center;
  text-decoration: solid;
  left: 260px;
  font-size: 60px;
}
.reviews {
  height: 600px;
  background-color: aliceblue;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  display: inline-block;
  background-color: rgba(185, 177, 177, 0.1);
}
.reviews > p {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 80px;
  transform-origin: left;
  transform: translate(20px);
}
.reviews > .rv1 {
  box-sizing: border-box;
  height: 350px;
  width: 350px;
  position: relative;
  left: 30px;
  bottom: 20px;
  background-color: aliceblue;
  border-radius: 3%;
  display: inline-block;
}
.rv1 > img {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.rv1 > p {
  font-size: 20px;
  text-align: center;
}
.rv1 .rating {
  width: 100%;
  margin-top: 0;
  text-align: center;
  position: relative;
  bottom: 10px;
  padding-left: 1%;
}
.rv1 .title {
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  padding-left: 30px;
  margin-top: 30px;
}
.rv1 .prv {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: solid;
}
.rv1 .wtch {
  text-align: left;
  margin-top: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}
.reviews > .rv2 {
  box-sizing: border-box;
  height: 350px;
  width: 350px;
  position: relative;
  left: 50px;
  bottom: 15px;
  background-color: aliceblue;
  border-radius: 3%;
  display: inline-block;
}






* {
  border: 1px solid red;
}